.content {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}


.site-footer { border-top: 1px solid #20242c; color: #a4b1c3; text-align: center; padding: 2rem 1rem; }

